.navbar
{
    display: flex;
    border: blue 2px solid;
    height: 290px;
    width: 100%;
}
.navbar-nav
{
    display: flex;
    /* justify-content: flex-end; */
    /* border: blue 2px solid; */
    /* list-style-type: none; */


}
.nav_item
{ 
    /* border: rgb(141, 141, 141) 2px solid; */
    height: 50px;
    /* text-align: left; */
    /* padding: 10px 10px; */
    /* width: 100%; */
}
.dropdown
{
    opacity: 0;
    margin-right: 10px;
    /* position: relative; */
    width: 0px;
    z-index: 2;
    float:right;
    
    transform: translateX(-40%);
    transition: opacity .3s ease-out;
}
.has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
}
.container
{

    display: flex;
}
